@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
    background-color: blueviolet;
    font-family: 'Orbitron', sans-serif;
}
header{
    text-align: center;
    width: 500px;
    margin: auto;
    color: black;
}
div{
    text-align: center;
    margin: auto;
    width: 500px;
    border-radius: 10px;
    background-color: black;
    color: azure;
    padding: 10px;
    font-size: 30pt;
    height: 350px;
}
p#mostrador{
    border-bottom: 5px solid azure;
    height: 70px;
    margin-bottom: 0px;
}
p#botoes{
    margin-top: 0px;
    margin-bottom: 5px;
}
p#parcial{
    margin-top: 2px;
}
input{
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: azure;
}
select#parciais{
    width: 300px;
    background-color: azure;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}