body{
    background-color: blueviolet;
}
header{
    text-align: center;
    width: 400px;
    margin: auto;
    color: azure;
}
div{
    text-align: center;
    margin: auto;
    width: 300px;
    border-radius: 10px;
    background-color: azure;
    padding: 10px;
    font: normal 20pt Arial;
}